html {
    background-image: url('../images/billy-madison-bg2.jpg')
}

.answer-gifs {
    width: 350px;
    margin-left: 85px;
    border: 3px solid black;
    border-radius: 5px;
}

header {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
}

body {
    margin: 100px auto;
    width: 500px;
    height: 500px;
    border: 5px solid black;
}

h1{
font-family: cursive;
}

.start {
    border: 3px solid black;
    height: 50px;
    width: 200px;
    background-color: pink;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 47px;
    text-align: center;
}

.start:hover {
    cursor: pointer;
    opacity: 0.5;
}

.answer {
    text-align: center;
}

.answer:hover {
    cursor: pointer;
    color: brown;
}

.btn-fin {
    width: 150px;
    font-weight: 700;
    margin: 0px auto;
    border: 3px solid black;
    background-color: aqua;
}

.main-content {
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

